<!-- <div>
    <p>code with {{name}}</p>
    <button (click)="changeValue()">Change Text</button>
</div>
<a routerLink="/about"> Go to about</a> -->
<section>
    <img src="imgs/Newbanner.jpg" />
</section>
<div class="main-content">
    <h1 class="mt-2">Explore amazing content</h1>
    <a class="btn btn-lg btn-secondary mt-2">Courses</a> &nbsp;
    <a class="btn btn-lg btn-primary mt-2">Templates</a>
</div>
<section class="courses">
    <div class="container">
        <h1 class="text-center">All Courses</h1>
        <!-- <app-course [courses]="courses"></app-course> -->
        <app-course></app-course>
    </div>    
</section>